<div bsModal #createFoodModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog"
    aria-labelledby="createFoodModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #createFoodForm="ngForm" id="frm_create_food" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span>{{l("CreateNewFood")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input class="form-control" type="text" name="FoodName" [(ngModel)]="food.name" required
                                maxlength="64" minlength="2">
                            <label class="form-label">{{l("FoodName")}}</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="number" name="Calorie" class="form-control" [(ngModel)]="food.calorie"
                                required>
                            <label class="form-label">{{l("Calorie")}}</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button [disabled]="!createFoodForm.form.valid || saving" type="submit" class="btn btn-primary blue">{{l("Save")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
